$sans-serif: "Apple SD Gothic Neo", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
  "Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;

$type-size-1: 2.441em !default; // ~39.056px
$type-size-2: 1.953em !default; // ~31.248px
$type-size-3: 1.563em !default; // ~25.008px
$type-size-4: 1.25em !default; // ~20px
$type-size-5: 1em !default; // ~16px
$type-size-6: 0.8em !default; // ~12px
$type-size-7: 0.75em !default; // ~11px
$type-size-8: 0.6875em !default; // ~10px

$left-sidebar-width-narrow: calc(200px - 1em) !default;
$left-sidebar-width: calc(300px - 2em) !default;
$left-sidebar-width-wide: calc(400px - 1em) !default;
